<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.code.mapper.SysFileInfoMapper">
    
    <resultMap type="SysFileInfo" id="SysFileInfoResult">
        <result property="fileId"    column="file_id"    />
        <result property="fatherId"    column="father_id"    />
        <result property="fileName"    column="file_name"    />
        <result property="filePath"    column="file_path"    />
        <result property="fileType"    column="file_type"    />
        <result property="fileExplain"    column="file_explain"    />
    </resultMap>

    <sql id="selectSysFileInfoVo">
        select file_id, file_name, file_path, father_id,file_type,file_explain from sys_file_info
    </sql>

    <select id="selectSysFileInfoList" parameterType="SysFileInfo" resultMap="SysFileInfoResult">
        <include refid="selectSysFileInfoVo"/>
        <where>
            <if test="fileId != null  and fileId != ''"> and file_id = #{fileId}</if>
            <if test="fatherId != null  and fatherId != ''"> and father_id = #{fatherId}</if>
            <if test="fileName != null  and fileName != ''"> and file_name like concat('%', #{fileName}, '%')</if>
            <if test="filePath != null  and filePath != ''"> and file_path = #{filePath}</if>
            <if test="fileType != null  and fileType != ''"> and file_type = #{fileType}</if>
            <if test="fileExplain != null  and fileExplain != ''"> and file_explain = #{fileExplain}</if>
        </where>
    </select>
    
    <select id="selectSysFileInfoById" parameterType="String" resultMap="SysFileInfoResult">
        <include refid="selectSysFileInfoVo"/>
        where file_id = #{fileId}
    </select>

    <select id="selectSysFileInfoByFid" parameterType="String" resultMap="SysFileInfoResult">
        <include refid="selectSysFileInfoVo"/>
        where father_id = #{father_id}
    </select>
        
    <insert id="insertSysFileInfo" parameterType="SysFileInfo" useGeneratedKeys="true" keyProperty="fileId">
        insert into sys_file_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="fileId!= null  and fileId != ''">file_id,</if>
            <if test="fatherId != null  and fatherId != ''">father_id,</if>
            <if test="fileName != null  and fileName != ''">file_name,</if>
            <if test="filePath != null  and filePath != ''">file_path,</if>
            <if test="fileType != null  and fileType != ''">file_type,</if>
            <if test="fileExplain != null  and fileExplain != ''">file_explain,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="fileId!= null  and fileId != ''">#{fileId},</if>
            <if test="fatherId != null  and fatherId != ''">#{fatherId},</if>
            <if test="fileName != null  and fileName != ''">#{fileName},</if>
            <if test="filePath != null  and filePath != ''">#{filePath},</if>
            <if test="fileType != null  and fileType != ''">#{fileType},</if>
            <if test="fileExplain != null  and fileExplain != ''">#{fileExplain},</if>
         </trim>
    </insert>

    <update id="updateSysFileInfo" parameterType="SysFileInfo">
        update sys_file_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="fileName != null  and fileName != ''">file_name = #{fileName},</if>
            <if test="filePath != null  and filePath != ''">file_path = #{filePath},</if>
            <if test="fileType != null  and fileType != ''">file_type = #{fileType},</if>
            <if test="fileExplain != null  and fileExplain != ''">file_explain = #{fileExplain},</if>
        </trim>
        where file_id = #{fileId}
    </update>

    <delete id="deleteSysFileInfoById" parameterType="String">
        delete from sys_file_info where file_id = #{fileId}
    </delete>

    <delete id="deleteSysFileInfoByIds" parameterType="String">
        delete from sys_file_info where file_id in 
        <foreach item="fileId" collection="array" open="(" separator="," close=")">
            #{fileId}
        </foreach>
    </delete>

    <delete id="deleteSysFileInfoByFatherId" parameterType="String">
         delete from sys_file_info where father_id = #{fatherId}
    </delete>


</mapper>