<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('鉴定文书（APPRAISALFILE）列表')" />
</head>
<body class="gray-bg">
<input name="trust_id" type="hidden" th:value="${trust_id}">
     <div class="container-div">
        <div class="row">
            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="code:appraisalfile:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var removeFlag = [[${@permission.hasPermi('code:appraisalfile:remove')}]];
        var prefix = ctx + "code/appraisalfile";

        $(function() {
            var options = {
                url: prefix + "/list",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "鉴定文书",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id', 
                    title: '主键',
                    visible: false
                },
                {
                    field: 'code', 
                    title: '编号'
                },
                {
                    field: 'trustId', 
                    title: '委托表主键'
                },
                {
                    field: 'time', 
                    title: '上传时间'
                },
                {
                    field: 'issuedCode', 
                    title: '发文号'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>